//variabler til farver

$lightpink: #FDF0F1;
$black: #3B3B3B;
$lightblue: #30E2ED;
$purple: #5868a2;

//variabler til responsivitet

$mobile: 576px;
$tablet: 850px;
$desktop: 992px;
$largeDesktop: 1200px;

//variabler til tekst-størrelser

$text-mini: 15px; //mail-tekst
$text-small: 18px; //brødtekst
$text-medium: 20px; //underoverskrifter, navigationen
$text-large: 36px; //h1
$text-autograph: 40px; //underskrift på om-os-siden

