@use 'variabler';
@use 'mixin';

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: variabler.$black; 
    background-color: variabler.$lightpink;
    padding-top: 2.3em;
    margin: 8em;
    font-family: "Armata", sans-serif;
}

p {
    font-size: variabler.$text-small;
}

/*header styling*/
header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 10px;
    
       nav {
       display: flex;
       margin-bottom: 2.5em;
    
          ul {
          display: flex;
          list-style-type: none;
          justify-content: space-between;
          gap: 10em;

            a {
            text-decoration: none;
            color: variabler.$black;
            font-family: "Armata", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: variabler.$text-medium;
                &:hover {
                color: variabler.$lightblue;
                }

            }
          }
        }        
}
 
.topnav {
    height: 100px;   
}
 
.toplogo {
    height: 12em;
}

.fa-bars{
    font-size: 3em;
    color: variabler.$lightblue;
}

/*header styling slut*/

/*video index*/

video {
    height: 500px;
    width: auto;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding: 1em;
    font-size: variabler.$text-large;
    color: variabler.$purple; 
}

.introtext {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.forsidetekst {
    display: flex;
    align-items: center;
    padding-top: 10em;
    font-size: variabler.$text-small;
}

.pilknap {
    height: 0.8em;
    margin: 0.2em;
}


/*skillebølger*/

.skillebølge {
    height: auto;
    width: 25%;
    padding: 2em;
}

.skillebølge1 {
    display: block;
    margin: 0 auto;
}

.skillebølge2 {
    margin-left: 5em;
}

.skillebølge3 {
    margin-left: 45em;
    margin-bottom: 5em;
}


.casesbillede {
    height: 20em;
    width: auto;
    margin-left: 5em;
}

.omosbillede {
    height: 20em;
    width: auto;
    margin-right: 5em;
}

.indextext {
    width: 40%;
}


/*Cases styling*/

.blagronoverskrift {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.blagronoverskrift a {
    text-decoration: none;
    color: variabler.$lightblue;
}

.nora {
    margin-top: 60px;
    width: 300px;
}

.lillelillaoverskrift {
    color: variabler.$purple;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: variabler.$text-medium;
}

.texttilcases {
    color: variabler.$black; 
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
    max-width: 400px;
    font-size: variabler.$text-small; 
}

.cases {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.container-cases {
    display: flex;
    align-items: flex-start;
    
}

.grafisk-billeder {
    display: flex;
    justify-content: space-between; 
}

/*om os styling*/

.teambilleder {
    width: 220px;
    height: 220px;
    margin-right: 20px;
}

.container-omos {
    display: flex;
    align-items: flex-start;
    padding-top: 2em;
    margin: 10px 0;
}

.omos-tekst {
    display: flex;
    flex-direction: column;
    font-size: variabler.$text-medium;
}

.navnogtitel {
    color: variabler.$purple;
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.personligtekst {
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
    max-width: 70%;
    font-size: variabler.$text-small;
}

.mail {
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
    font-size: variabler.$text-mini;
}

.underskrift {
    text-align: right;
    font-family: "audrielle-no1", sans-serif;
    font-size: variabler.$text-autograph;
    margin-top: auto;
    padding-right: 6em;
}

.sluttekst {
    margin-top: 30px;
}


/*Container / Sanne-ydelser*/

.container {
    display: flex;
    justify-content: space-between; /* Justerer afstanden mellem kasserne */
    gap: 40px;
  }
  
  .box {
    flex: 1; /* Giver hver boks lige plads */
    text-align: center; /* Centrerer indholdet */
  }
  
  .box img {
    width: 100%; /* Billedet fylder bredden af boksen */
    height: auto; /* Bevarer billedets proportioner */
  }
  
  .box p {
    margin-top: 10px; /* Afstand mellem billede og tekst */
  }
  




/*footer styling*/

.footertext {
    font-family: "Armata", sans-serif;
    text-align: center;  
}

.containerfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    height: 50px;
}


// Stilregler for mobil til desktop
@media (max-width: variabler.$tablet) {
    header{
        justify-content: center;
    }
    nav li{
        display: none;
    }
    
    

  }
  

  
@media (min-width: variabler.$tablet) {
    header{
        justify-content: center;
    }
    nav ul{
        display:flex;
        justify-items: center;
        justify-content: space-between;
        gap:12em;
    }
    .fa-bars{
        display:none;
    }
  }
  
@media (min-width: variabler.$largeDesktop) {
    // Stilregler for stor skærm
  }