* {
    box-sizing: border-box;
    margin: 0;
}
body {
    color: #3B3B3B;
    background-color: #FDF0F1;
    padding: 50px;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 10px;
}

.topnav {
    height: 100px;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
}

.toplogo {
    height: 100px;
}

a {
    text-decoration: none;
    color: #3B3B3B;
    font-family: "Armata", sans-serif;
    font-weight: 400;
    font-style: normal;
}