* {
    box-sizing: border-box;
    margin: 0;
}
body {
    color: #3B3B3B;
    background-color: #FDF0F1;
    padding: 100px;
    font-family: "Armata", sans-serif;
}
/*header styling*/
header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 10px;
}

.topnav {
    height: 100px;   
}

.topnav a {
    margin-right: 12em;
}

.topnav a:last-child {
    margin-right: 0;
}

.toplogo {
    height: 10em;
}

a {
    text-decoration: none;
    color: #3B3B3B;
    font-family: "Armata", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*header styling slut*/

/*video index*/

video {
    height: 500px;
    width: auto;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding: 1em;   
}

.introtext {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.pilknap {
    height: 0.8em;
    margin: 0.2em;
}



/*skillebølger*/

.skillebølge {
    height: auto;
    width: 25%;
    padding: 2em;
}

.skillebølge1 {
    display: block;
    margin: 0 auto;
}

.skillebølge2 {
    margin-left: 5em;
}

.skillebølge3 {
    margin-left: 45em;
    margin-bottom: 5em;
}

.forsidetekst {
    display: flex;
    align-items: center;
    padding-top: 10em;
}

.casesbillede {
    height: 20em;
    width: auto;
    margin-left: 5em;
}

.omosbillede {
    height: 20em;
    width: auto;
    margin-right: 5em;
}

.indextext {
    width: 40%;
}

/*om os styling*/

.teambilleder {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.lillaoverskrift {
    color: #5868a2;
    font-size: 24px; 
}

.container-omos {
    display: flex;
    align-items: flex-start;
    padding-top: 2em;
    margin: 10px 0;
}

.omos-tekst {
    display: flex;
    flex-direction: column;
}

.navnogtitel {
    color: #5868a2;
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

.personligtekst {
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
    max-width: 400px;
    font-size: 14px;
}

.mail {
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 11px;
}

.underskrift {
    text-align: right;
    margin-left: 20px;
    margin-top: 5px;
    font-family: "audrielle-no1", sans-serif;
    font-size: 50px;
}

/*footer styling*/

.footertext {
    font-family: "Armata", sans-serif;
    text-align: center;  
}

.containerfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}