* {
    box-sizing: border-box;
    margin: 0;
}
body {
    color: #3B3B3B;
    background-color: #FDF0F1;
    padding: 100px;
    font-family: "Armata", sans-serif;
}
/*header styling*/
header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 10px;
}

.topnav {
    height: 100px;   
}

.topnav a {
    margin-right: 12em;
}

.topnav a:last-child {
    margin-right: 0;
}

.toplogo {
    height: 100px;
}

a {
    text-decoration: none;
    color: #3B3B3B;
    font-family: "Armata", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*header styling slut*/

/*video index*/

video {
    height: 500px;
    width: auto;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding: 1em;   
}

.introtext {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.pilknap {
    height: 0.8em;
    margin: 0.2em;
}



/*skillebølger*/

.skillebølge {
    height: auto;
    width: 25%;
    padding: 2em;
}

.skillebølge1 {
    display: block;
    margin: 0 auto;
}

.skillebølge2 {
    margin-left: 2em;
}

.skillebølge3 {
    margin-left: 60em;
}



/*footer styling*/

.footertext {
    font-family: "Armata", sans-serif;
    text-align: center;  
}

.containerfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}